.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    .skills-grid {
        display: grid;
        grid-template-areas: "skills-grid skills-grid skills-grid skills-grid";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 4.5rem;
    }
}