.card-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 240px;
    background-color: var(--fourth-grey);
    cursor: pointer;
    padding: 2rem 2.5rem;
    border: 1px solid var(--second-grey);
    transition: all 0.3s ease-in-out 0s;

    &:hover {
        box-shadow: 0px 0px 0px 2px var(--first-color);
    }

    .faCode {
        font-size: 5.6rem;
        color: var(--first-color);
    }

    img {
        width: 70vw;
        max-width: 300px;
        max-height: 130px;
        margin-bottom: 2.3rem;
    }

    figcaption {
        margin-bottom: .6rem;
        font-size: 1.8rem;
        font-weight: 500;

        span {
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--first-color);
            margin-left: 16px;
        }
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--first-grey);
    }
}